# --- PyInstaller Specific ---
# These are the directories PyInstaller creates during the build process
build/
dist/

# PyInstaller log files and metadata
*.manifest
*.spec

# --- Python General ---
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
bin/
include/
lib/

# OS-specific files
.DS_Store
Thumbs.db